/* Default styles for the multiplier element type. */

/* Reduces importance of the table's header: no uppercase. */
.form-type-multiplier .form-multiplier th {
  text-transform: none;
}

.form-type-multiplier .form-multiplier tr.description {
  background-color: lightyellow;
}

.form-type-multiplier .form-multiplier.error {
  background-image: none;
  background-color: transparent;
}
.form-type-multiplier .form-multiplier.error table {
  border-width: 2px;
  border-color: red;
}
.form-type-multiplier .form-multiplier.error th {
  background-color: linen;
}

/*
Fix display of elements contained in first cells.
(No more overflow, correct alignment.)
*/
.form-type-multiplier .form-multiplier td:first-child .form-item {
  display: inline-block;
}
